*.o
*.so
.vscode/

*-pthread

tests/*
!tests/*.c

install/bin/*
install/lib/*
!install/lib/
!install/bin/.gitkeep
!install/lib/.gitkeep

*.log
*.out

*~
*.swp
.DS_Store
*.dSYM/

*.csv
*.png

profile_results/